body {
    background-color: aqua;
}

.bear-card {
    margin: 15px;
}

#bear-submit-button {
    min-width: 750px;
    justify-content: center;
}

h2 {
    justify-content: center;    
}

#full-bear-form {
    min-width: 750px;
    justify-content: center;
}

#bear-name {
    text-align: center;
}
